
{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
    
      {% if posts %}
          <h2 style="text-align:center;white-space:pre-wrap;" class="pad14"> Your videos</h2>
      {% else %}
          <h2 style="text-align:center;white-space:pre-wrap;" class="pad14"> No videos yet. Your recorded videos will appear here.</h2>
      {% endif %}

      <iframe width="720" height="405" src="https://www.youtube.com/embed/iv7lcUkFVSc?playlist=TcdEOHV3PgA,eEeX2QMlSlo,pZy8115sNXM"frameborder="0" allowfullscreen>



    <!-- {% for post in posts %}
    <div class="site-content">
      <div class="container">
        <div class="mdl-grid site-max-width"></div>
    <section class="section--center mdl-grid site-max-width">

      <iframe width="420" height="345" src={{ post.vid_url }}>
      </iframe>
      </section>
          <a class="mr-2 font-fourteen" href="#">{{ post.author }}</a>
          <p class="text-muted">{{ post.date_posted|date:"F d, Y" }}</p>
  </div>

</div>

</div>


{% endfor %} -->

    {% else %}
        <h1> user is not authenticated</h1>
    {% endif %}

{% endblock content %}
