{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load material_form %}

    <div class="content-section">
    <div class="mdl-grid site-copy">
        <div class="mdl-cell mdl-cell--12-col">
            <form method="POST">
            {% csrf_token %}
            {% form %}
                {% part form.username prefix %}<i class="mdl-textfield__input"></i>{% endpart %}
                {% part form.email prefix %}<i class="mdl-textfield__input"></i>{% endpart %}
                {% part form.password1 prefix %}<i class="mdl-textfield__input"></i>{% endpart %}
                {% part form.password2 prefix %}<i class="mdl-textfield__input"></i>{% endpart %}
            
            {% endform %}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <h6 class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </h6>
        </div>
    </div>
    </div>
</div>

{% endblock content %}
